* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

input, select, textarea {
  outline: 0;
}

textarea {
  resize: none;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

.admin {
  margin-top: 200px;
}
.admin .logi2 {
  display: flex;
  justify-content: center;
}
.admin .logi2 h2 {
  font-size: 75px;
}
.admin .adminlogin {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.admin .adminlogin .adminbox .adminin {
  width: 800px;
  height: 80px;
  margin-top: 98px;
  padding-left: 15px;
  font-size: 30px;
}
.admin .adminlogin .adminbtn {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin .adminlogin .adminbtn .butt {
  margin-top: 100px;
  width: 220px;
  height: 80px;
  background-color: #fff;
  border: none;
  margin: 0 20px;
  font-size: 30px;
  border: 1px solid #000;
}
.admin .adminlogin .adminbtn .butt:hover {
  background-color: #000;
  color: #fff;
}

.adminmenu {
  display: flex;
  justify-content: center;
}
.adminmenu .admin_menu {
  display: flex;
}
.adminmenu .admin_menu li {
  line-height: 100px;
  margin: 0 50px;
}
.adminmenu .admin_menu li .rdfsf {
  font-size: 30px;
  color: #000;
  opacity: 0.3;
}
.adminmenu .admin_menu li .rdfsfd {
  color: #000;
  opacity: 1;
}

.footer {
  background-color: #000;
  padding: 60px 0;
}
.footer .foo {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  margin: 0 auto;
}
.footer .foo .footop h2 {
  color: #fff;
  margin-bottom: 30px;
}
.footer .foo .footop p {
  color: #fff;
}
.footer .foo .fooleft .gnb {
  display: flex;
}
.footer .foo .fooleft .gnb li {
  margin: 0 20px;
}
.footer .foo .fooleft .gnb li a {
  color: #fff;
}
.footer .foobot {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.footer .foobot .menu2 li {
  margin: 50px 15px;
}
.footer .foobot .menu2 li a {
  color: #fff;
  font-size: 20px;
}
.footer .footend {
  width: 1280px;
  border-top: 1px solid #fff;
  display: flex;
  margin: 0 auto;
}
.footer .footend p {
  color: #fff;
  line-height: 30px;
  margin-top: 20px;
}

.insertcontainer {
  margin: 300px auto;
}
.insertcontainer .insert_center2 {
  width: 1100px;
  margin: 100px auto;
}
.insertcontainer .insert_center2 .name .put {
  width: 50%;
  height: 40px;
  margin: 10px 0;
  padding-left: 15px;
}
.insertcontainer .insert_center2 .area {
  width: 100%;
  height: 250px;
  resize: none;
  padding: 15px 0 0 15px;
}
.insertcontainer .insert_center2 .filebox {
  margin-top: 20px;
}
.insertcontainer .insert_center2 .filebox .file {
  border: none;
  width: 150px;
  height: 50px;
}
.insertcontainer .insert_center2 .btnss .btn {
  border: none;
  width: 150px;
  height: 50px;
  background-color: #fff;
}
.insertcontainer .insert_center2 .btnss .qws {
  color: #000;
  border: 1px solid #adb5bd;
}
.insertcontainer .insert_center2 .btnss .qws:hover {
  background-color: #000;
  color: #fff;
}
.insertcontainer .insert_center2 .btnss .qwq {
  color: #000;
  border: 1px solid #adb5bd;
}
.insertcontainer .insert_center2 .btnss .qwq:hover {
  background-color: #000;
  color: #fff;
}

#header2 {
  width: 100%;
  background-color: #fff;
}
#header2 .samsung2 .center2 {
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  transition: all 1s;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header2 .samsung2 .center2 .logo {
  display: flex;
  align-items: center;
  text-align: center;
}
#header2 .samsung2 .center2 .gnbb {
  display: flex;
  justify-content: center;
  text-align: center;
}
#header2 .samsung2 .center2 .gnbb > li {
  margin: 0 20px;
  line-height: 80px;
  width: 100px;
  background-color: #fff;
}
#header2 .samsung2 .center2 .gnbb > li a {
  text-align: center;
  color: #000;
}
#header2 .samsung2 .center2 .logia {
  background-color: #fff;
  display: flex;
  justify-content: center;
}
#header2 .samsung2 .center2 .logia .center .login {
  display: flex;
  justify-content: flex-end;
}
#header2 .samsung2 .center2 .logia .center .login .condition {
  display: flex;
  align-items: center;
}
#header2 .samsung2 .center2 .logia .center .login .condition .loj {
  line-height: 80px;
  color: #000;
  margin-right: 40px;
}
#header2 .samsung2 .center2 .logia .center .login .condition .arr {
  color: #000;
}
#header2 .samsung2 .center2 .logia .center .login .condition .name a {
  color: #000;
}
#header2 .samsung2 .center2 .logia .center .login .condition .dsf {
  color: #000;
}
#header2 .samsung2 .center2 .logia .center .login .condition .dsf::after {
  content: "";
  margin: 0 10px;
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #000;
}
#header2 .samsung2 .center2 .btn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#header2 .samsung2 .center2 .btn .line {
  margin: 6px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #000;
  transition: all 0.5s;
}
#header2 .samsung2 .center2 .btn.chg .top {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(45deg);
}
#header2 .samsung2 .center2 .btn.chg .mid {
  transform: translateX(10px);
  opacity: 0;
}
#header2 .samsung2 .center2 .btn.chg .bot {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-45deg);
}
#header2 .samsung2 .sideM {
  display: flex;
  width: 280px;
  height: 100vh;
  position: fixed;
  right: -280px;
  top: 0;
  background-color: #dc3545;
  transition: all 0.5s;
}
#header2 .samsung2 .sideM .linebtn {
  position: relative;
  display: flex;
  flex-direction: column;
}
#header2 .samsung2 .sideM .linebtn .btn2 {
  display: block;
  position: absolute;
  right: 10px;
  top: 12%;
  transform: translateY(-50%);
}
#header2 .samsung2 .sideM .linebtn .btn2 .line {
  display: block;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}
#header2 .samsung2 .sideM .linebtn .btn2 .top2 {
  position: absolute;
  left: 0;
  top: 5px;
  transform: rotate(45deg);
}
#header2 .samsung2 .sideM .linebtn .btn2 .mid2 {
  transform: translateX(10px);
  opacity: 0;
  margin: 5px 0;
}
#header2 .samsung2 .sideM .linebtn .btn2 .bot2 {
  position: absolute;
  left: 0;
  bottom: 5px;
  transform: rotate(-45deg);
}
#header2 .samsung2 .sideM .two {
  margin-top: 125px;
}
#header2 .samsung2 .sideM .two li {
  margin: 30px 0 0 83px;
}
#header2 .samsung2 .sideM .two li span {
  position: relative;
  top: 25px;
  left: -27px;
}
#header2 .samsung2 .sideM .two li a {
  display: block;
  color: #fff;
}
#header2 .samsung2 .sideM .three .face {
  display: flex;
}
#header2 .samsung2 .sideM .three .face li {
  margin-left: 34px;
}
#header2 .samsung2 .sideM .three .face li span {
  color: #fff;
}
#header2 .samsung2 .sideM .three p {
  margin: 0 0 104px 34px;
  line-height: 34px;
  color: #fff;
  font-size: 13px;
}
#header2 .samsung2 .sideM.move {
  right: 0;
}

#header.fixer {
  position: fixed;
  top: 0;
  bottom: unset;
  display: block;
}
#header.fixer .center2 {
  width: 100%;
  border-radius: 0;
}

#login_container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
#login_container .center {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#login_container .center #login_form {
  width: 50%;
  text-align: center;
}
#login_container .center #login_form .logi {
  text-align: center;
}
#login_container .center #login_form .btn {
  width: 183px;
  margin: 30px auto;
  display: flex;
  border: 2px solid #f4f4f4;
  border-radius: 20px;
}
#login_container .center #login_form .btn .btns {
  color: #000;
  border: none;
  line-height: 30px;
  width: 50%;
  background-color: #fff;
}
#login_container .center #login_form .btn .qwe {
  border-right: 1px solid #f4f4f4;
}
#login_container .center #login_form .line .text {
  padding-left: 23px;
  width: 80%;
  height: 54px;
  border-radius: 20px;
  border: none;
  border: 2px solid #f4f4f4;
}
#login_container .center #login_form .line .pass {
  margin: 22px 0 22px 0;
}
#login_container .center #login_form .btnok {
  text-align: start;
  margin-left: 34px;
}
#login_container .center #login_form .btnok .qwe {
  width: 144px;
  height: 54px;
  border: 1px solid #acacac;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 34px;
}
#login_container .center #login_form .btnok .qwe:hover {
  color: #fff;
  background-color: #000;
}
#login_container .center #login_form .btnok .canc {
  width: 144px;
  height: 54px;
  border: 1px solid #acacac;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 34px;
}
#login_container .center #login_form .btnok .canc:hover {
  color: #fff;
  background-color: #000;
}
#login_container .center .im22 {
  width: 50%;
  position: relative;
}
#login_container .center .im22 img {
  width: 100%;
}
#login_container .center .im22 .bg {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login_container .center .im22 .bg .text {
  background-color: #000;
  opacity: 0.8;
  width: 270px;
  height: 216px;
  border: 2px solid #5f5344;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login_container .center .im22 .bg .text h2 {
  color: #fff;
}
#login_container .center .im22 .bg .text h2:hover {
  color: yellow;
}
#login_container .center .im22:hover .bg {
  opacity: 0.6;
  z-index: 55;
}

#join_container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
#join_container .center {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#join_container .center #join_form {
  width: 50%;
  text-align: center;
}
#join_container .center #join_form .logi {
  text-align: center;
}
#join_container .center #join_form .btn {
  width: 183px;
  margin: 30px auto;
  display: flex;
  border: 2px solid #f4f4f4;
  border-radius: 20px;
}
#join_container .center #join_form .btn .btns {
  border: none;
  line-height: 30px;
  width: 50%;
  background-color: #fff;
  color: #000;
}
#join_container .center #join_form .btn .qwe {
  border-right: 1px solid #f4f4f4;
}
#join_container .center #join_form .line {
  position: relative;
}
#join_container .center #join_form .line .text {
  margin-bottom: 35px;
  padding-left: 23px;
  width: 80%;
  height: 54px;
  border-radius: 20px;
  border: none;
  border: 2px solid #f4f4f4;
}
#join_container .center #join_form .line .message {
  position: absolute;
  left: 45px;
  bottom: 10px;
}
#join_container .center #join_form .line.ok .text, #join_container .center #join_form .line.ok .chk2 {
  border: 1px solid #00c850;
}
#join_container .center #join_form .line.no .text, #join_container .center #join_form .line.no .chk2 {
  border: 1px solid red;
}
#join_container .center #join_form .btnok {
  text-align: start;
  margin-left: 34px;
}
#join_container .center #join_form .btnok .qwe {
  width: 144px;
  height: 54px;
  border: 1px solid #acacac;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 34px;
}
#join_container .center #join_form .btnok .qwe:hover {
  color: #fff;
  background-color: #000;
}
#join_container .center #join_form .btnok .canc {
  width: 144px;
  height: 54px;
  border: 1px solid #acacac;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 34px;
}
#join_container .center #join_form .btnok .canc:hover {
  color: #fff;
  background-color: #000;
}
#join_container .center #join_form .dont .blise {
  color: #000;
}
#join_container .center .im22 {
  width: 50%;
  position: relative;
}
#join_container .center .im22 img {
  width: 100%;
}
#join_container .center .im22 .bg {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#join_container .center .im22 .bg .text {
  background-color: #000;
  opacity: 0.8;
  width: 270px;
  height: 216px;
  border: 2px solid #5f5344;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#join_container .center .im22 .bg .text h2 {
  color: #fff;
}
#join_container .center .im22 .bg .text:hover {
  color: yellow;
}
#join_container .center .im22:hover .bg {
  opacity: 0.6;
  z-index: 55;
}

.prdstore {
  margin: 300px auto;
}
.prdstore .adminmenu {
  display: flex;
  justify-content: center;
}
.prdstore .adminmenu .admin_menu {
  display: flex;
}
.prdstore .adminmenu .admin_menu li {
  line-height: 100px;
  margin: 0 50px;
}
.prdstore .adminmenu .admin_menu li .teds {
  font-size: 30px;
  color: #000;
  opacity: 0.3;
}
.prdstore .adminmenu .admin_menu li .dfd {
  color: #000;
  opacity: 1;
  font-size: 30px;
}
.prdstore .prdwrap {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.prdstore .prdwrap .list {
  width: 31%;
  margin: 10px 1%;
  background-color: #f7f6f3;
}
.prdstore .prdwrap .list p {
  margin: 10px 0;
}
.prdstore .prdwrap .imgse {
  width: 100%;
  height: 250px;
}
.prdstore .prdwrap .imgse img {
  width: 100%;
  height: 100%;
}
.prdstore #addprdlist {
  width: 1100px;
  margin: 200px auto;
  display: flex;
  flex-wrap: wrap;
}
.prdstore #addprdlist .fds {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.prdstore #addprdlist .fds .box4 {
  margin-top: 2px;
  height: 35px;
  padding-left: 10px;
  width: 28%;
  border-radius: 4px;
  border: 1px solid #adb5bd;
}
.prdstore #addprdlist .fds .box5 {
  margin: 0 2%;
  height: 35px;
  padding-left: 10px;
  width: 28%;
  border-radius: 4px;
  border: 1px solid #adb5bd;
}
.prdstore #addprdlist .fds .box6 {
  margin-top: 0px;
  padding-top: 5px;
  height: 30px;
  padding-left: 10px;
  width: 28%;
  border-radius: 4px;
  border: 1px solid #adb5bd;
}
.prdstore #addprdlist .textarea {
  width: 90%;
  height: 250px;
  margin: 30px auto;
}
.prdstore #addprdlist .textarea .texas {
  width: 100%;
  height: 100%;
  padding: 10px 0 0 10px;
}
.prdstore #addprdlist .box {
  margin: 1% 1%;
}
.prdstore #addprdlist .storebuttn {
  width: 30%;
  margin: 0 auto;
  height: 34px;
  border-radius: 4px;
  background-color: #adb5bd;
  border: none;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.prdstore #addprdlist .storebuttn:hover {
  background-color: #000;
  color: #fff;
}

.prdstore2 {
  margin: 300px auto;
}
.prdstore2 .adminmenu2 {
  display: flex;
  justify-content: center;
}
.prdstore2 .adminmenu2 .admin_menu {
  display: flex;
}
.prdstore2 .adminmenu2 .admin_menu li {
  line-height: 100px;
  margin: 0 50px;
}
.prdstore2 .adminmenu2 .admin_menu li .teds {
  font-size: 30px;
  color: brown;
  opacity: 0.3;
}
.prdstore2 .adminmenu2 .admin_menu li .dfd {
  color: brown;
  opacity: 1;
}
.prdstore2 .storewrap {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.prdstore2 .storewrap .list {
  width: 31%;
  margin: 20px 1%;
}
.prdstore2 .storewrap .list .line {
  display: flex;
  margin: 10px 0;
}
.prdstore2 .storein {
  width: 1100px;
  margin: 50px auto;
}
.prdstore2 .addstror {
  width: 1100px;
  margin: 0 auto;
}
.prdstore2 .addstror .city1 {
  border: none;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #adb5bd;
}
.prdstore2 .addstror .city2 {
  border: none;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #adb5bd;
}
.prdstore2 .addstror .box11 {
  border: none;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #adb5bd;
}
.prdstore2 .addstror .box6 {
  width: 100px;
  border: none;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #adb5bd;
  background-color: #fff;
  color: brown;
}
.prdstore2 .addstror .box6:hover {
  background-color: brown;
  color: #fff;
}
.prdstore2 .addstror .box7 {
  margin-top: 10px;
  border: none;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #adb5bd;
}
.prdstore2 .addstror .box12 {
  width: 100px;
  border: none;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #adb5bd;
  background-color: #fff;
  color: brown;
}
.prdstore2 .addstror .box12:hover {
  background-color: brown;
  color: #fff;
}

.insertcontainer {
  margin: 300px auto;
}
.insertcontainer .adminmenu {
  display: flex;
  justify-content: center;
}
.insertcontainer .adminmenu .admin_menu {
  display: flex;
}
.insertcontainer .adminmenu .admin_menu li {
  line-height: 100px;
  margin: 0 50px;
}
.insertcontainer .adminmenu .admin_menu li .rdfsf {
  font-size: 30px;
  color: #000;
  opacity: 0.3;
}
.insertcontainer .adminmenu .admin_menu li .rdfsfd {
  color: #000;
  opacity: 1;
}
.insertcontainer .aven {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.insertcontainer .aven .line {
  width: 31%;
  margin: 20px 1%;
}
.insertcontainer .aven .line .wrwd {
  width: 100%;
  height: 150px;
}
.insertcontainer .aven .line .wrwd img {
  width: 100%;
  height: 100%;
}
.insertcontainer .insert_center2 {
  width: 1100px;
  margin: 100px auto;
}
.insertcontainer .insert_center2 .name .put {
  width: 50%;
  height: 40px;
  margin: 10px 0;
  padding-left: 15px;
}
.insertcontainer .insert_center2 .area {
  width: 100%;
  height: 250px;
  resize: none;
  padding: 15px 0 0 15px;
}
.insertcontainer .insert_center2 .area .filebox {
  margin-top: 20px;
}
.insertcontainer .insert_center2 .area .filebox .file {
  border: none;
  width: 150px;
  height: 50px;
}
.insertcontainer .insert_center2 .area .btnss .btn {
  border: none;
  width: 150px;
  height: 50px;
  background-color: #fff;
}
.insertcontainer .insert_center2 .area .btnss .qws {
  color: #000;
  border: 1px solid #adb5bd;
}
.insertcontainer .insert_center2 .area .btnss .qws:hover {
  background-color: #000;
  color: #fff;
}
.insertcontainer .insert_center2 .area .btnss .qwq {
  color: b #000;
  border: 1px solid #adb5bd;
}
.insertcontainer .insert_center2 .area .btnss .qwq:hover {
  background-color: #000;
  color: #fff;
}

.brd_center2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.brd_center2 #brd_form {
  width: 730px;
}
.brd_center2 #brd_form .name {
  display: flex;
}
.brd_center2 #brd_form .name .put {
  padding-left: 20px;
  width: 44%;
  border: none;
  border: 2px solid #f4f4f4;
  height: 43px;
  margin: 0 10px;
}
.brd_center2 #brd_form .teq {
  margin: 20px 0 20px 0;
}
.brd_center2 #brd_form .area {
  width: 94%;
  border: none;
  border: 2px solid #f4f4f4;
  height: 240px;
  padding: 20px 0 0 20px;
}
.brd_center2 #brd_form .filebox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.brd_center2 #brd_form .filebox .file {
  margin-top: 20px;
  border: none;
  width: 94%;
  height: 43px;
  border: 2px solid #f4f4f4;
  padding: 10px 0 0 20px;
}
.brd_center2 #brd_form .btnss .btn {
  width: 144px;
  height: 54px;
  border: 1px solid #acacac;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  margin: 50px 10px;
}
.brd_center2 #brd_form .btnss .qws:hover {
  color: #fff;
  background-color: #000;
}
.brd_center2 #brd_form .btnss .qwq:hover {
  color: #fff;
  background-color: #000;
}

.image .imagebox {
  width: 100%;
  height: 300px;
}
.image .imagebox img {
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  position: relative;
  background-color: #fff;
  z-index: 99;
}
#header .samsung .center2 {
  margin: 0 auto;
  width: 1280px;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  transition: all 1s;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .samsung .center2 .logo {
  display: flex;
  align-items: center;
  text-align: center;
}
#header .samsung .center2 .gnbb {
  display: flex;
  justify-content: center;
  text-align: center;
}
#header .samsung .center2 .gnbb > li {
  margin: 0 20px;
  line-height: 80px;
  width: 100px;
}
#header .samsung .center2 .gnbb > li a {
  text-align: center;
  color: #000;
}
#header .samsung .center2 .logia {
  background-color: #fff;
  display: flex;
  justify-content: center;
}
#header .samsung .center2 .logia .center .login {
  display: flex;
  justify-content: flex-end;
}
#header .samsung .center2 .logia .center .login .condition {
  display: flex;
  align-items: center;
}
#header .samsung .center2 .logia .center .login .condition .loj {
  line-height: 60px;
  color: #000;
  margin-right: 40px;
}
#header .samsung .center2 .logia .center .login .condition .arr {
  color: #000;
}
#header .samsung .center2 .logia .center .login .condition .name a {
  color: #000;
}
#header .samsung .center2 .logia .center .login .condition .dsf {
  color: #000;
}
#header .samsung .center2 .logia .center .login .condition .dsf::after {
  content: "";
  margin: 0 10px;
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #000;
}
#header .samsung .center2 .btn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#header .samsung .center2 .btn .line {
  margin: 6px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #000;
  transition: all 0.5s;
}
#header .samsung .center2 .btn.chg .top {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(45deg);
}
#header .samsung .center2 .btn.chg .mid {
  transform: translateX(10px);
  opacity: 0;
}
#header .samsung .center2 .btn.chg .bot {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-45deg);
}
#header .samsung .sideM {
  display: flex;
  width: 280px;
  height: 100vh;
  position: fixed;
  right: -280px;
  top: 0;
  background-color: #dc3545;
  transition: all 0.5s;
}
#header .samsung .sideM .linebtn {
  position: relative;
  display: flex;
  flex-direction: column;
}
#header .samsung .sideM .linebtn .btn2 {
  display: block;
  position: absolute;
  right: 10px;
  top: 12%;
  transform: translateY(-50%);
}
#header .samsung .sideM .linebtn .btn2 .line {
  display: block;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}
#header .samsung .sideM .linebtn .btn2 .top2 {
  position: absolute;
  left: 0;
  top: 5px;
  transform: rotate(45deg);
}
#header .samsung .sideM .linebtn .btn2 .mid2 {
  transform: translateX(10px);
  opacity: 0;
  margin: 5px 0;
}
#header .samsung .sideM .linebtn .btn2 .bot2 {
  position: absolute;
  left: 0;
  bottom: 5px;
  transform: rotate(-45deg);
}
#header .samsung .sideM .two {
  margin-top: 125px;
}
#header .samsung .sideM .two li {
  margin: 30px 0 0 83px;
}
#header .samsung .sideM .two li span {
  position: relative;
  top: 25px;
  left: -27px;
}
#header .samsung .sideM .two li a {
  display: block;
  color: #fff;
}
#header .samsung .sideM .three .face {
  display: flex;
}
#header .samsung .sideM .three .face li {
  margin-left: 34px;
}
#header .samsung .sideM .three .face li span {
  color: #fff;
}
#header .samsung .sideM .three p {
  margin: 0 0 104px 34px;
  line-height: 34px;
  color: #fff;
  font-size: 13px;
}
#header .samsung .sideM.move {
  right: 0;
}

#header.fixer {
  position: fixed;
  top: 0;
  bottom: unset;
  display: block;
}
#header.fixer .center2 {
  width: 100%;
  border-radius: 0;
}

.container .cont1 .slideWrap {
  width: 1400px;
  height: 700px;
}
.container .cont1 .slideWrap .swiper-wrapper .swiper-slide {
  background: no-repeat;
  background-size: cover;
  background-position: center;
}
.container .cont1 .slideWrap .swiper-wrapper .swiper-slide.s1 {
  background-image: url(../img/bb7.jpg);
}
.container .cont1 .slideWrap .swiper-wrapper .swiper-slide.s2 {
  background-image: url(../img/bb3.jpg);
}
.container .cont1 .slideWrap .swiper-wrapper .swiper-slide.s3 {
  background-image: url(../img/bb5.jpg);
}
.container .cont1 .slideWrap .swiper-wrapper .swiper-slide.s4 {
  background-image: url(../img/bb6.jpg);
}
.container .cont1 .swiper .circleBtn {
  position: absolute;
  bottom: 22px;
  z-index: 99;
  display: flex;
  justify-content: center;
}
.container .cont1 .swiper .circleBtn .swiper-pagination-bullet {
  margin: 0 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 3px solid orange;
  opacity: 0.5;
}
.container .cont1 .swiper .circleBtn .swiper-pagination-bullet-active {
  background-color: #fff;
  border: 3px solid red;
  opacity: 1;
}
.container .cont1 .swiper .prevBtn {
  position: absolute;
  background-image: url(../img/leftBtn.png);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
.container .cont1 .swiper .nextBtn {
  position: absolute;
  background-image: url(../img/rightBtn.png);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
.container .cont2 {
  padding: 200px 0;
  display: flex;
  justify-content: center;
}
.container .cont2 .center {
  width: 44%;
}
.container .cont2 .center .tvpro {
  margin: 30px 0;
  text-align: center;
}
.container .cont2 .center .tvpro h2 {
  font-size: 40px;
}
.container .cont2 .center .image1 {
  margin: 50px auto;
  width: 550px;
  height: 500px;
  background-image: url(../img/bb1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container .cont2 .center .silder {
  position: relative;
  margin: 0 auto;
  width: 584px;
  height: 110px;
}
.container .cont2 .center .silder .view {
  width: 100%;
  height: 100%;
}
.container .cont2 .center .silder .view > div {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
}
.container .cont2 .center .silder .view > div:nth-child(1) {
  opacity: 1;
  z-index: 3;
}
.container .cont2 .center .silder .view .pto3 {
  display: flex;
}
.container .cont2 .center .silder .view .pto3 div {
  border: 3px solid green;
  box-sizing: border-box;
}
.container .cont2 .center .silder .view .pto3 div a img {
  width: 140px;
  height: 105px;
}
.container .cont2 .center .silder .btns2 div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.container .cont2 .center .silder .btns2 .prevBtn2 {
  left: -20px;
  font-size: 30px;
}
.container .cont2 .center .silder .btns2 .nextBtn2 {
  right: -20px;
  font-size: 30px;
}
.container .cont2 .center .silder .circleBtn2 {
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  z-index: 4;
  display: flex;
}
.container .cont2 .center .silder .circleBtn2 li a {
  display: block;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
  height: 20px;
  margin: 0 10px;
  transition: all 0.5s;
}
.container .cont2 .center .silder .circleBtn2 li.on a {
  background-color: #dc3545;
  width: 50px;
  border-radius: 20px;
}
.container .cont2 .cont2center {
  width: 44%;
}
.container .cont2 .cont2center .tvpro {
  margin: 30px 0;
  text-align: center;
}
.container .cont2 .cont2center .tvpro h2 {
  font-size: 40px;
}
.container .cont2 .cont2center .image12 {
  margin: 50px auto;
  width: 550px;
  height: 500px;
  background-image: url(../img/bb1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container .cont2 .cont2center .silder2 {
  position: relative;
  margin: 0 auto;
  width: 584px;
  height: 110px;
}
.container .cont2 .cont2center .silder2 .view2 {
  width: 100%;
  height: 100%;
}
.container .cont2 .cont2center .silder2 .view2 > div {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
}
.container .cont2 .cont2center .silder2 .view2 > div:nth-child(1) {
  opacity: 1;
  z-index: 3;
}
.container .cont2 .cont2center .silder2 .view2 .pto4 {
  display: flex;
}
.container .cont2 .cont2center .silder2 .view2 .pto4 div {
  border: 3px solid green;
  box-sizing: border-box;
}
.container .cont2 .cont2center .silder2 .view2 .pto4 div a img {
  width: 140px;
  height: 105px;
}
.container .cont2 .cont2center .silder2 .btns22 div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.container .cont2 .cont2center .silder2 .btns22 .prevBtn22 {
  left: -20px;
  font-size: 30px;
}
.container .cont2 .cont2center .silder2 .btns22 .nextBtn22 {
  right: -20px;
  font-size: 30px;
}
.container .cont2 .cont2center .silder2 .circleBtn22 {
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  z-index: 4;
  display: flex;
}
.container .cont2 .cont2center .silder2 .circleBtn22 li a {
  display: block;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
  height: 20px;
  margin: 0 10px;
  transition: all 0.5s;
}
.container .cont2 .cont2center .silder2 .circleBtn22 li.on a {
  background-color: #dc3545;
  width: 50px;
  border-radius: 20px;
}
.container .cont3 .center5 {
  display: flex;
  justify-content: center;
}
.container .cont3 .center5 .portfolio {
  width: 80%;
}
.container .cont3 .center5 .portfolio .bts {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.container .cont3 .center5 .portfolio .bts li::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 1px;
  width: 2px;
  height: 15px;
  background-color: #eb8102;
  margin: 0 31px;
}
.container .cont3 .center5 .portfolio .bts li a {
  color: #000;
}
.container .cont3 .center5 .portfolio .bts li:last-child::after {
  display: none;
}
.container .cont3 .center5 .portfolio .bts li.on a {
  color: red;
}
.container .cont3 .center5 .portfolio .box12 {
  display: flex;
  flex-wrap: wrap;
}
.container .cont3 .center5 .portfolio .box12 .all {
  width: 31.333333%;
  margin: 1%;
  position: relative;
}
.container .cont3 .center5 .portfolio .box12 .all img {
  width: 100%;
  height: 100%;
}
.container .cont3 .center5 .portfolio .box12 .all .bg {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  text-align: center;
}
.container .cont3 .center5 .portfolio .box12 .all .bg h2 {
  color: #fff;
  margin-top: 92px;
  line-height: 35px;
  font-size: 18px;
}
.container .cont3 .center5 .portfolio .box12 .all .bg h2:hover {
  color: yellow;
}
.container .cont3 .center5 .portfolio .box12 .all .bg .tessd {
  display: flex;
  justify-content: center;
}
.container .cont3 .center5 .portfolio .box12 .all .bg .tessd .textde {
  text-decoration: line-through;
}
.container .cont3 .center5 .portfolio .box12 .all .bg .tessd p {
  margin: 0 10px;
}
.container .cont3 .center5 .portfolio .box12 .all .bg p {
  color: #fff;
  font-weight: bold;
  margin: 18px 0 28px 0;
}
.container .cont3 .center5 .portfolio .box12 .all .bg a {
  display: block;
  color: #fff;
  width: 150px;
  height: 38px;
  background-color: transparent;
  margin: 0 auto;
  border: 2px solid #fff;
  box-sizing: border-box;
  line-height: 2;
}
.container .cont3 .center5 .portfolio .box12 .all:hover .bg {
  opacity: 0.6;
  z-index: 55;
}
.container .cont3 .center5 .portfolio .box12 .all .bg2 {
  width: 100%;
  padding: 27px 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0.6;
  left: 0;
  bottom: 0px;
  transition: all 0.5s;
}
.container .cont3 .center5 .portfolio .box12 .all .bg2 p {
  margin-left: 15px;
  line-height: 26px;
  height: 42px;
}
.container .cont3 .center5 .portfolio .box12 .all:hover .bg2 {
  bottom: -96px;
}
.container .cont3 .center5 .portfolio .box12 .small {
  height: 300px;
}
.container .cont3 .center5 .portfolio .box12 .big {
  height: 520px;
}
.container .cont3 .center5 .portfolio .box12 .wide {
  width: 64.666666%;
  height: 520px;
}
.container .cont4 {
  height: 500px;
  background-color: yellow;
}
.container .cont5 {
  height: 500px;
  background-color: green;
}
.container .cont6 {
  height: 700px;
  background-color: #dc3545;
}